/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* CSS Reset */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F9F7ED;
}

html {
    scroll-behavior: smooth;
}

/* navigation */

#navbar .brand {
    margin-left: 40px;
    font-size: 24px;
    font-family: 'Baloo Bhai 2', sans-serif;
    transform: scale(1, 1.08);
    font-weight: bolder;
}

#navbar .brand span {
    color: #C87533;
}

#navbar {
    display: flex;
    margin-top: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar::before {
    content: ' ';
    position: absolute;
    background-color: #F9F7ED;
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
}

#navbar ul {
    display: flex;
    margin-left: 45rem;
    align-items: center;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: #C87533;
    text-decoration: none;
    padding: 3px 25px;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: bolder;
    transition: all .5s;
    border-radius: 18px;
}

#navbar ul li a:hover {
    background-color: #9EB847;
    color: #F9F7ED;
}

.social-media {
    display: flex;
}

.social-media i {
    color: #C87533;
    padding: 18px 10px;
    transition: all .5s;
}

.social-media i:hover {
    color: #1ea1f2;
    cursor: pointer;
}

.social-media i#twitter:hover {
    color: #1977f2;
}

.social-media i:active {
    transform: scale(.8);
}

/* profile */

#profile {
    margin-top: 4rem;
    color: grey;
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profile .container {
    display: flex;
    flex-direction: column;
}

#profile h2 {
    margin-bottom: 1rem;
}

#profile img {
    width: 30rem;
    display: block;
    margin: 3rem 18rem;
    border-radius: 50px;
}

#profile p {
    margin-left: 5rem;
}

/* facts */

#facts {
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 5rem;
    color: grey;
}

#facts .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#facts .container img {
    width: 20rem;
    margin: 20px 50px;
    border-radius: 10px;
    transition: all .5s;
}

#facts .container img:hover {
    transform: translateY(-10px);
    box-shadow: -10px 10px 10px grey;
}

#facts p {
    text-align: justify;
    font-size: 17.9px;
    padding: 20px 170px;
}

/* importance */

#importance {
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 5rem;
    color: grey;
}

#importance h2 {
    margin-bottom: 4rem;
}

#importance .container-blue {
    display: flex;
    justify-content: center;
}

#importance .container-blue img {
    width: 25rem;
    border-radius: 10px;
    transition: all .5s;
}

#importance .container-blue img:hover {
    transform: translateY(-10px);
    box-shadow: -10px 10px 10px grey;
}

#importance .container {
    display: flex;
    justify-content: center;
}

#importance .container img {
    width: 25rem;
    margin: 40px 25px;
    border-radius: 10px;
    transition: all .5s;
}

#importance .container img:hover {
    transform: translateY(-10px);
    box-shadow: -10px 10px 10px grey;
}

#importance p {
    text-align: justify;
    font-size: 17.9px;
    padding: 20px 170px;
}

/* footer */

footer {
    color: grey;
    height: 12vh;
    margin-top: 3rem;
    font-family: 'Hind Siliguri', sans-serif;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* utility classes */

.heading-primary {
    color: #9EB847;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 31px;
    text-align: center;
    margin-bottom: 2rem;
}